<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Change Password</title>
</head>

<body>
  <div class="container">
    <a th:href="@{/}">Back to Home Page</a>
    <br>
    <a th:href="@{/users/list}">Back to User List</a>
    <hr>
    <br>
    <h3>Change Password</h3>
    <hr>
    <form action="#" th:action="@{/users/changePassword}" th:object="${user}" method="post">
      <input type="hidden" th:field = "*{enabled}" th:value= "true" />
      <input type="hidden" th:field = "*{id}" th:name="userId"/>
      Current Password: <input type="text" th:name="currentPassword" th:field="*{password}" class="form-control mb-4 col-4">
      New Password: <input type="text" th:name="newPassword"  class="form-control mb-4 col-4">
      <button type="submit">Save</button>
    </form>
  </div>
</body>
</html>