<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Employee List</title>

</head>

<body>
<script>
  function toogle(source){
    var checkboxes = document.querySelectorAll('input[type = "checkbox"]');
    for(var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i] != source)
        checkboxes[i].checked = source.checked;
    }
  }

</script>
<div class="container">
  <div class="position-absolute top-0 end-0 mt-2 me-2">
    <span th:text="'Username: ' + ${#authentication.getName()}"></span>
    <form th:action="@{/logout}" th:method="POST">
      <input class = "pull-right" th:type="submit" th:value="logout" />
    </form>
    <a href="/users/showChangePasswordForm" >Change password</a>
  </div>
  <a href="/">Back to Home Page</a>
  <br><br>
  <h3>Employee List</h3>
  <hr>
  <form th:action="@{/employees/search}"  method="get">
    <input type="text" name="searchName" class="form-control mb-4 col-4"  placeholder="Search">
    <input type="submit" class="btn btn-dark" value="Search" />
  </form>
  <br>
  <form th:action="@{/employees/delete}" method="POST">
    <security sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
      <a th:href="@{/employees/showAddForm}" class="btn btn-primary">Add</a>
      <button type="submit" class="btn btn-primary">Delete</button>
    </security>
    <br>
    <br>
    <table class='table table-bordered table-condensed table-striped table-hover'>
      <thead class="thead-dark">
        <tr>
          <security sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
          <th><input type="checkbox" onclick="toogle(this);"></th>
          </security>
          <th><a th:href="@{/employees/list(sortField='id' , sortDir=${reverseSortDir})}">ID</a></th>
          <th><a th:href="@{/employees/list(sortField='firstName' , sortDir=${reverseSortDir})}">Fist Name</a></th>
          <th><a th:href="@{/employees/list(sortField='lastName' , sortDir=${reverseSortDir})}">Last Name</a></th>
          <th><a th:href="@{/employees/list(sortField='email' , sortDir=${reverseSortDir})}">Email</a></th>
          <th><a th:href="@{/employees/list(sortField='phoneNumber' , sortDir=${reverseSortDir})}">Phone Number</a></th>
          <th><a th:href="@{/employees/list(sortField='jobTitle' , sortDir=${reverseSortDir})}">Job Title</a></th>
          <security sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
          <th>Action</th>
          </security>
        </tr>
      </thead>

      <tbody>
        <tr class="table-row" th:each="tempEmployee : ${employees}">
          <security sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
          <td>
          <input type = "checkbox" th:name="idChecked" th:value="${tempEmployee.id}" />
          </td>
          </security>
          <td th:text="${tempEmployee.id}"/>
          <td th:text="${tempEmployee.firstName}" />
          <td th:text="${tempEmployee.lastName}" />
          <td th:text="${tempEmployee.email}" />
          <td th:text="${tempEmployee.phoneNumber}" />
          <td th:text="${tempEmployee.jobTitle}" />
          <security sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
          <td>
            <a th:href="@{/employees/showUpdateForm(employeeId=${tempEmployee.id})}" class="btn btn-warning">Edit</a>
          </td>
          </security>
        </tr>

      </tbody>


    </table>

  </form>
</div>
</body>
</html>