<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assets List</title>
</head>
<body>
  <h3>Asset List</h3>
  <hr>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>MODEL</th>
        <th>DESCRIPTION</th>
        <th>INVOICE_NUMBER</th>
        <th>DATE OF PURCHASE</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="tempAsset : ${assets}">
        <td th:text="${tempAsset.id}" />
        <td th:text="${tempAsset.model}" />
        <td th:text="${tempAsset.description}" />
        <td th:text="${tempAsset.invoiceNumber}" />
        <td th:text="${tempAsset.dateOfPurchase}" />
      </tr>

    </tbody>


  </table>


</body>
</html>